.header-row {
    display: flex;
    background-color: #1976d2;
    align-items: center;
    height: 64px;
}

.label {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    min-width: 200px;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.icon-container img {
    height: 32px;
    margin-right: 20px;
}