<div class="input-panel">
    <div class="property">
        <p>Field name</p>
        <input type="text" [(ngModel)]="customProperties.name"/>
    </div>
    <div class="property">
        <p>Type</p>
        <select [(ngModel)]="customProperties.type.definition">
            <option *ngFor="let type of sqlTypeDefinitionList" [ngValue]="type">{{type.name}}</option>
        </select>  
    </div>
    <div *ngIf="customProperties.type.definition.arguments">
        <div class="property" *ngFor="let argument of customProperties.type.definition.arguments; let i = index">
            <p>{{argument.name}}</p>
            <input type="text" [(ngModel)]="customProperties.type.arguments[i]"/>
        </div>
    </div>
    <div class="property">
        <p>Default</p>
        <input type="text" [(ngModel)]="customProperties.default"/>
    </div>
    <div class="property">
        <p>Primary Key</p>
        <input type="checkbox" [(ngModel)]="customProperties.isPrimaryKey"/>
    </div>
    <div class="property">
        <p>Allow nulls</p>
        <input type="checkbox" 
        [disabled]="customProperties.isPrimaryKey" 
        [(ngModel)]="customProperties.isAllowNulls"/>
    </div>    
    <div class="property">
        <p>Unique</p>
        <input type="checkbox" [(ngModel)]="customProperties.isUnique"/>
    </div>   
    <div class="property">
        <p>Foreign Key</p>
        <input type="checkbox" [(ngModel)]="customProperties.isForeignKey"/>
    </div> 
    <div *ngIf="customProperties.isForeignKey">
        <div class="property">
            <p>Table</p>
            <select [(ngModel)]="customProperties.foreignTable"
                    (change)="onForeignTableChange()">
                <option *ngFor="let table of tableList" [disabled]="table === currentTable"
                        [ngValue]="table">{{table.name}}</option>
            </select>
        </div>
        <div class="property">
            <p>Field</p>
            <select [(ngModel)]="customProperties.foreignField"
                    >
                <option *ngFor="let field of foreignFieldList" 
                        [ngValue]="field">{{field.name}}</option>
            </select>
        </div>
    </div>

</div>

<div class="action-panel">
    <div class="save-icon" (click)="save()">
        <img src="assets/icon-accept-database.svg" alt="">
        <p>Save</p>
    </div>
    <div class="cancel-icon" (click)="cancel()">
        <img src="assets/icon-data-backup.svg" alt="">
        <p>Cancel</p>
    </div>
    <div class="delete-icon" (click)="delete()">
        <img src="assets/icon-delete-database.svg" alt="">
        <p>Delete</p>
    </div>
</div>