:host {
    display: block;
    background-color: lightgray;
    border: 1px solid black;  
    margin: -1px;
}

.property {
    display: flex;
    align-items: center;
}

.input-panel p {
    margin: 0px;
    padding: 5px;
    width: 70px;
    font-size: 12px;
    text-align: right;
}

.input-panel input[type="text"], .input-panel select {
    flex-grow: 1;
    margin: 3px;
    margin-bottom: 0px;
    padding: 1px;
}

select:first-child {
    font-size: 30px;
}

.input-panel input [type="checkbox"]{
    margin-top: 13px;
    display: block;
   /* margin-bottom: 0px;
    padding: 1px; */
}

.action-panel {
    display: flex;
    justify-content: space-around;
}

.save-icon, .cancel-icon, .delete-icon {
    display: flex;
    align-items: center;
    margin: 0px;
    cursor: pointer;
}

.action-panel img {
    margin: 2px;
    height: 20px;
}

.action-panel p {
    margin: 0px;
    line-height: 14px;
    font-size: 14px;
    text-decoration-line: underline;
}