<div class="input-panel">
    <div class="property">
        <p>Field name</p>
        <input type="text" [(ngModel)]="customProperties.name"/>
    </div>
    <div class="property">
        <p>Type</p>
        <input type="text" [(ngModel)]="customProperties.type"/>
    </div>
    <div class="property">
        <p>Size</p>
        <input type="text" [(ngModel)]="customProperties.size"/>
    </div>
    <div class="property">
        <p>Default</p>
        <input type="text" [(ngModel)]="customProperties.default"/>
    </div>
    <div class="property">
        <p>Primary Key</p>
        <input type="checkbox" [(ngModel)]="customProperties.isPrimaryKey"/>
    </div>
    <div class="property">
        <p>Allow nulls</p>
        <input type="checkbox" 
        [disabled]="customProperties.isPrimaryKey" 
        [(ngModel)]="customProperties.isAllowNulls"/>
    </div>    
    <div class="property">
        <p>Unique</p>
        <input type="checkbox" [(ngModel)]="customProperties.isUnique"/>
    </div>   
    <div class="property">
        <p>Foreign Key</p>
        <input type="checkbox" [(ngModel)]="customProperties.isForeignKey"/>
    </div> 

</div>

<div class="action-panel">
    <div class="save-icon" (click)="save()">
        <img src="assets/icon-accept-database.svg" alt="">
        <p>Save</p>
    </div>
    <div class="cancel-icon" (click)="cancel()">
        <img src="assets/icon-data-backup.svg" alt="">
        <p>Cancel</p>
    </div>
    <div class="delete-icon" (click)="delete()">
        <img src="assets/icon-delete-database.svg" alt="">
        <p>Delete</p>
    </div>
</div>