<div class="input-panel">
    <div class="property">
        <p>Field name</p>
        <input type="text" [(ngModel)]="formModel.name"/>
    </div>
    <div class="property">
        <p>Type</p>
        <select [(ngModel)]="formModel.type.name"
                (change)="onTypeSelectorChange()">
            <option *ngFor="let type of sqlTypesDefinitionList" [value]="type.name">{{type.name}}</option>
        </select>  
    </div>
    <div *ngIf="checkSelectedTypeHasArguments()">
        <div class="property" *ngFor="let argument of selectedTypeDefinition.arguments; let i = index">
            <p>{{argument.name}}</p>
            <input type="text" [(ngModel)]="formModel.type.arguments[i]"/>
        </div>
    </div>
    <div class="property">
        <p>Default</p>
        <input type="text" [(ngModel)]="formModel.default"/>
    </div>
    <div class="property">
        <p>Primary Key</p>
        <input type="checkbox" [(ngModel)]="formModel.isPrimaryKey"/>
    </div>
    <div class="property">
        <p>Allow nulls</p>
        <input type="checkbox" 
        [disabled]="formModel.isPrimaryKey" 
        [(ngModel)]="formModel.isAllowNulls"/>
    </div>    
    <div class="property">
        <p>Unique</p>
        <input type="checkbox" [(ngModel)]="formModel.isUnique"/>
    </div>   
    <div class="property">
        <p>Foreign Key</p>
        <input type="checkbox" [(ngModel)]="formModel.isForeignKey"/>
    </div> 
    <div *ngIf="formModel.isForeignKey">
        <div class="property">
            <p>Table</p>
            <select [(ngModel)]="formModel.foreignTable"
                    (change)="onForeignTableChange()">
                <option *ngFor="let table of tables" [disabled]="table === currentTable"
                        [ngValue]="table">{{table.name}}</option>
            </select>
        </div>
        <div class="property">
            <p>Field</p>
            <select [(ngModel)]="formModel.foreignField"
                    >
                <option *ngFor="let field of foreignFields" 
                        [ngValue]="field">{{field.name}}</option>
            </select>
        </div>
    </div>

</div>

<div class="action-panel">
    <div class="save-icon" (click)="save()">
        <img src="assets/icon-accept-database.svg" alt="">
        <p>Save</p>
    </div>
    <div class="cancel-icon" (click)="cancel()">
        <img src="assets/icon-data-backup.svg" alt="">
        <p>Cancel</p>
    </div>
    <div class="delete-icon" (click)="delete()">
        <img src="assets/icon-delete-database.svg" alt="">
        <p>Delete</p>
    </div>
</div>