<div class="field-row">
  <div class="field-icons">
    <img src="assets/icon-pkey.svg" title="Primary Key" *ngIf = "field.isPrimaryKey">
    <img src="assets/icon-nn.svg" *ngIf = "!field.isAllowNulls&&!field.isPrimaryKey">
    <img src="assets/icon-fkey.svg" title="Foreign Key" *ngIf = "field.isForeignKey">
  </div>
  <div class="field-name">
    <p>{{field.name}}</p>
  </div>
  <div class="field-type">
    <p>{{field.type}}</p>
  </div>
  <div class="field-options" (click)="fieldOptionsToggle()">
    <img src="assets/icon-data-configuration.svg" alt="options">
  </div>
</div>
<app-field-options
  *ngIf="isFieldOptionsActive"
  [fieldId]="fieldId"
  (canceled)="onCanceled($event)"  
>
</app-field-options>